.body {
    margin-left: 120px;
    width: 100%-100px;
    box-sizing: border-box;
  }
  .header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-right: 17px;
  }
  .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    width: 95%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
  }
  .search span {
    margin-right: 5px;